.login {
	padding-top: 65px;
}

.center {
	float: none;
	margin-left: 30%;
	margin-right: 30%;
}

.error_message {
	color: #b94a48;
}

.comment {
	color: #696969;
	font-size: 10px;
	font-style: normal;
}